h1{
    color: red;
    font-size: 50px;
}
#paging ul{
    list-style: none;
    display: flex;
}
#paging .paginationjs-page, .paginationjs-ellipsis, .paginationjs-next, .paginationjs-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid gray;
    text-align: center;
    
}
#paging .active {
    background-color: gray;
    color: white;
}